<div id="user_nav">
  <% if !current_band && !current_client %>
    <%= link_to "Band Login", band_login_path %> | 
    <%= link_to "Client Login", client_login_path %>
  <% elsif current_band %>
    <%= link_to current_band.name, current_band %> | 
    <%= link_to "Logout", band_logout_path %>
  <% elsif current_client %>
    <%= link_to current_client.login, current_client %> | 
    <%= link_to "Logout", client_logout_path %>
  <% end %>
</div>
