<h1>Listing equips</h1>

<% if @equips.blank? %>
  <p>There is no equipment registered.</p>
<% else %>
  <table>
    <% for equip in @equips %>
      <tr>
        <td><%= equip.classification %></td>
        <% if permitted_to? :show, equip %>
          <td><%= link_to 'Show', equip %></td>
        <% end %>
        <% if permitted_to? :edit, equip %>
          <td><%= link_to 'Edit', edit_equip_path(equip) %></td>
        <% end %>
        <% if permitted_to? :destroy, equip %>
          <td><%= link_to 'Destroy', equip, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>

<br />

<% if permitted_to? :create, Equip.new %>
  <%= link_to 'New equipment', new_equip_path %>
<% end %>
<% if permitted_to? :export_equips, Equip.new %>
  <%= link_to "Export Equipments", export_equips_path %>
<% end %>
<% if permitted_to? :import_equips, Equip.new %>
  <%= link_to "Import Equipments", import_equips_path %>
<% end %>
