<h1>Listing clients</h1>

<% if @clients.blank? %>
  <p>There is no client registered.</p>
<% else %>
  <table>
    <% for client in @clients %>
      <tr>
        <td><%= client.name %></td>
        <% if permitted_to? :show, client %>
          <td><%= link_to 'Show', client %></td>
        <% end %>
        <% if permitted_to? :edit, client %>
          <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <% end %>
        <% if permitted_to? :destroy, client %>
          <td><%= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>

<br />

<% if permitted_to? :create, Client.new %>
  <%= link_to 'New client', new_client_path %>
<% end %>
<%= link_to 'Home', root_path %>
