<h1>New rent</h1>

<% if @equips.length > 0 %>

<% form_for :external_rent, :url => {:action => "create_rent"} do |f| %>

  <%= f.error_messages %>

  <div class="field required">
    <font color="#F00" style="float: left;">*</font>
    <%= f.label :start, "Starts at: ", :class => "field_label" %>  
    <% fields_for :external_rent do |ff|%>
      <%= ff.calendar_date_select :start, :popup => "force" %>
    <% end %>
  </div>

  <div class="field required"> 
    <font color="#F00" style="float: left;">*</font>
    <%= f.label :duration, "Duration: ", :class => "field_label" %>  
    <%= f.text_field :duration %> day(s)
  </div>

  <div class="field required"> 
    <font color="#F00" style="float: left;">*</font>
    <%= f.label :person_id, "Equipment: ", :class => "field_label" %>  
    <%= f.collection_select(:equip_id, @equips, :id, :classification, :class =>"Equip") %>
  </div>

  <%= hidden_field "client", "id", :id => @client.id %>

  <p><font color="red">* Required Fields</font></p>

  <%= f.submit "Create rent" %>

<% end %>
<% else %>
  <p><font color="red">Sorry, there is no equipment to rent!  ^^</font></p>
<% end %>
