<h1>Showing client</h1>

<div class="folder_header">
  <b>Name: </b>
  <%= link_to(Person.find(@client.person_id).name, Person.find(@client.person_id)) %> <br />
  <b>Login: </b> <%= @client.login %><br />
  <% if permitted_to? :new, ExternalRent.new %>
    <%= link_to 'New rent', new_external_rent_path %>
  <% end %>
</div>

<% if Authorization.current_user == @client || is_admin?(Authorization.current_user) %>
  <div class="folder_body">
    <ul>
      <% if @client.external_rents.blank? %>
        There is no rent available.
      <% end %>
      <% @client.external_rents.each do |external_rent|%>
        <% if permitted_to? :show, external_rent %>
          <li> 
          <%= link_to(external_rent.equip.classification, external_rent) + " " + external_rent.start.strftime("%m/%d/%Y") %> 
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

<% if permitted_to? :edit, @client %>
  <%= link_to 'Edit', edit_client_path(@client) %>
<% end %>
<%= link_to 'Back', clients_path %>
