<h1>Showing client</h1>

<div class="folder_header">
  <b>Name: </b>
  <%= link_to(Person.find(@client.person_id).name, Person.find(@client.person_id)) %> <br />
  <b>Login: </b> <%= @client.login %><br />
  <% if permitted_to? :create_rent, @client %>
    <%= link_to 'New rent', :action => "new_rent", :id => @client.id %>
  <% end %>
</div>
<% if @client.external_rents.length > 0 && permitted_to?(:show_rent, @client) %>
  <div class="folder_body">
    <ul>
      <% @client.external_rents.each do |external_rent|%>
        <li> <%= link_to(external_rent.equip.classification, :action => "show_rent", :id => @client.id, :rent_id => external_rent.id) + " " + 
                 external_rent.start.strftime("%m/%d/%Y") %> </li>
      <% end %>
    </ul>
</div>
<% end %>

<% if permitted_to? :edit, @client %>
  <%= link_to 'Edit', edit_client_path(@client) %>
<% end %>
<%= link_to 'Back', clients_path %>
