<h1>Listing bands</h1>

<% if @bands.blank? %>
  <p>There is no band registered.</p>

<% else %>
  <table>
    <% for band in @bands %>
      <tr>
        <td><%= band.name %></td>
        <td><%= link_to 'Show', band %></td>
        <td><%= link_to 'Edit', edit_band_path(band) %></td>
        <td><%= link_to 'Destroy', band, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<br />

<%= link_to 'New band', new_band_path %>
<%= link_to 'Home', root_path %>
