<h1>Listing bands</h1>

<% if @bands.blank? %>
  <p>There is no band registered.</p>

<% else %>
  <table>
    <% for band in @bands %>
      <tr>
        <td><%= band.name %></td>
        <% if permitted_to? :show, band %>
          <td><%= link_to 'Show', band %></td>
        <% end %>
        <% if permitted_to? :edit, band %>
          <td><%= link_to 'Edit', edit_band_path(band) %></td>
        <% end %>
        <% if permitted_to? :destroy, band %>
          <td><%= link_to 'Destroy', band, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>

<br />

<% if permitted_to? :create, Band.new %>
  <%= link_to 'New band', new_band_path %>
<% end %>
<%= link_to 'Home', root_path %>
