<h1>Showing Band</h1>

<b>Name: </b> <%= @band.name %><br />

<b>Login: </b> <%= @band.login %><br />

<% if !@band.style.blank? %>
  <b>Style: </b> <%= @band.style %><br />
<% end %>

<% if !@band.homepage.blank? %>
  <b>Homepage: </b> <%= @band.homepage %><br />
<% end %>

<% @aux = @people %>

<% if @band.people.length > 0 %>
  <b>Members:</b>
  <% @band.people.each do |person| %><br />
    <li><%= link_to(person.name, person) %></li>
    <% @aux.delete(person) %>
  <% end %>
<% end %>

<b>Add member: </b>
<% form_tag :action => "add" do %>
  <%= hidden_field "band", "id", :id => @band.id %>
  <%= collection_select(:person, :id, @aux, :id, :name, :class =>"Person") %>
  <br /><br />
  <%= submit_tag "Add" %>
<% end %>

<br /><br />

<b> Remove member: </b>
<% form_tag :action => "remove" do %>
  <%= hidden_field "band", "id", :id => @band.id %>
  <%= collection_select(:person, :id, @band.people, :id, :name, :class =>"Person") %>
  <br /><br />
  <%= submit_tag "Remove" %>
<% end %>


<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
