<h1>Showing Band</h1>

<div class="folder_header">
  <b>Name: </b> <%= @band.name %><br />

  <b>Login: </b> <%= @band.login %><br />

  <% if !@band.style.blank? %>
    <b>Style: </b> <%= @band.style %><br />
  <% end %>

  <% if !@band.homepage.blank? %>
    <b>Homepage: </b> <%= @band.homepage %><br />
  <% end %>

  <% if @band.people.length > 0 %>
    <b>Members:</b>
    <ul>
      <% @members.each do |member| %>
        <li>
          <b><%= link_to(member.name, member) %></b> 
          <% if permitted_to? :destroy, member %>
            <%= link_to 'Remove member', member, :confirm => 'Are you sure?', :method => :delete %></li>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if permitted_to? :new, Person.new %>
    <%= link_to 'New member', new_person_path %>
  <% end %>
</div>

<% if permitted_to? :edit, @band %>
  <%= link_to 'Edit', edit_band_path(@band) %> |
<% end %>
<%= link_to 'Back', bands_path %>
