<h1>Showing Band</h1>

<b>Name: </b> <%= @band.name %><br />

<b>Login: </b> <%= @band.login %><br />

<% if !@band.style.blank? %>
  <b>Style: </b> <%= @band.style %><br />
<% end %>

<% if !@band.homepage.blank? %>
  <b>Homepage: </b> <%= @band.homepage %><br />
<% end %>

<% @aux = @people %>

<% if @band.people.length > 0 %>
  <b>Members:</b>
  <ul>
    <% @band.people.each do |person| %>
      <li><%= link_to(person.name, person) %></li>
      <% @aux.delete(person) %>
    <% end %>
  </ul>
<% end %>

<% if @aux.length > 0%>
  <b>Add member: </b>
  <% form_tag :action => "add_member" do %>
    <%= hidden_field "band", "id", :id => @band.id %>
    <%= collection_select(:person, :id, @aux, :id, :name, :class =>"Person") %>
    <br /><br />
    <%= submit_tag "Add!" %>
  <% end %>
<% end %>

<br />

<% if @band.people.length > 0%>
  <b> Remove member: </b>
  <% form_tag :action => "remove_member" do %>
    <%= hidden_field "band", "id", :id => @band.id %>
    <%= collection_select(:person, :id, @band.people, :id, :name, :class =>"Person") %>
    <br /><br />
    <%= submit_tag "Remove!" %>
  <% end %>
<% end %>


<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
