<h1>Showing agenda</h1>

<div class="folder_header">

  <b>Band: </b> <%= @agenda.band.name%><br />
  <b>Service: </b> <%= @agenda.service.name %><br />
  <b>Starts at: </b> <%= @agenda.start %><br />
  <b>Duration: </b> <%= @agenda.duration %>h<br />
  <%  case @agenda.status
      when "reserved"   then color="orange"
      when "confirmed"  then color="green"
      when "done"       then color="blue"
      when "canceled"   then color="red"
      end
  %>
  <b>Status: </b><font color="<%=color%>" > <%= @agenda.status %></font><br />
  <b>Total price: </b> <%= @agenda.total_price %> <br />

  <% @aux = @equips %>
  <% if @agenda.equips.length > 0 %>
    <b>Equipments:</b>
    <ul>
      <% @agenda.equips.each do |equip| %>
        <% internal_rent = InternalRent.find(:first, :conditions => {:equip_id => equip.id}) %>
        <li><%= link_to(equip.classification, equip)+" "+internal_rent.duration.to_s+'h '+(equip.internal_price*internal_rent.duration).to_s %></li>
        <% @aux.delete(equip) %>
      <% end %>
    </ul>
  <% end %>

  <% if @agenda.status == "reserved" %>
    <%= link_to 'Cancel agenda', :action => 'cancel', :id => @agenda.id %>
  <% end %>

</div>

<% if @agenda.status == "reserved" || @agenda.status == "confirmed" %>
  <div class="folder_body">
    <%= render :partial => "add_equip" if @aux.length > 0 %>
    <br />
    <%= render :partial => "remove_equip" if @agenda.equips.length > 0 %>
  </div>
<% end %>

<%= link_to 'Edit', edit_agenda_path(@agenda) %>
<%= link_to 'Back', agendas_path %>
