<h1>Showing service</h1>

<div class="folder_header">
  <b>Name: </b> <%= @service.name%><br />

  <b>Price: </b> <%= @service.price %><br />

  <% if !@service.description.blank? %>
    <b>Description: </b> <%= @service.description %><br />
  <% end %>
</div>

<% if permitted_to? :edit, @service %>
  <%= link_to 'Edit', edit_service_path(@service) %> |
<% end %>
<%= link_to 'Back', services_path %>
