<h1>Client Login</h1>

<% form_for @client_session, :url => client_session_path, :html => {:name => "login_form"} do |f| %>
  <%= f.error_messages %>
  <%= f.label :login %><br />
  <%= f.text_field :login %><br />
  <%= f.label :password %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.submit "Login" %>
<% end %>

<script type="text/javascript">
 document.login_form.client_session_login.focus();
</script>
